@import "../../scss/variables/_colors";

.product-cart {
  align-items: center;

  display: flex;
  padding: 8px 0;
}

.price {
  color: $demin;
  font-family: "Roboto Bd";
  margin-left: auto;
}

.total {
  color: $demin;
  font-family: "Roboto Bd";
  margin: 15px 0;
  text-align: right;

  span {
    color: $gray;
  }
}

.image {
  height: 90px;
  margin-left: 20px;
  width: 60px;
}
